<!-- Sidebar -->
<aside class="bg-gray-800 text-gray-300 w-64 flex-shrink-0 h-[93vh] transition-all duration-300 transform">
    <div class="p-4">
        <a class="text-white text-2xl font-bold">Products</a>
    </div>
    <nav class="flex-1">
        <a routerLink="mens" class="block py-2 px-4 text-sm hover:bg-gray-700 cursor-pointer">Mens</a>
        <a routerLink="womens" class="block py-2 px-4 text-sm hover:bg-gray-700 cursor-pointer">Womens</a>
        <a class="block py-2 px-4 text-sm hover:bg-gray-700 cursor-pointer">Electronics</a>
        <a class="block py-2 px-4 text-sm hover:bg-gray-700 cursor-pointer">Toys</a>
        <a class="block py-2 px-4 text-sm hover:bg-gray-700 cursor-pointer">Movies</a>
    </nav>
</aside>
